.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: visible;
  position: relative;

}

/* Menú lateral */
.app-menu {
  position: fixed;     /* ✅ lo saca del flujo del contenedor */
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #002b5c;
  transition: width 0.3s ease;
  z-index: 2000;
}


/* Cuando está colapsado */
.app-menu.collapsed {
  width: 80px;
}

/* Contenido principal */
.main-content {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

/* Ajuste cuando el menú está colapsado */
.main-content.collapsed {
  margin-left: 80px;
}
